  <div class="sub">
  <select class="selectbox_date TW260 marR10" name="product[sub_category_id]" id="subcategory">
    <option value="">-- Select Sub Subcategory --</option>
    <% for subcat in @w %>
        <option value="<%= subcat[:id] %>"><%= subcat[:name] %></option>
    <% end %>
</select> 
</div>