  <div class="container_12">
    <div id="top">
      <div class="grid_3 ">
        <div class="phone_top">
          <span>Call Us +777 (100) 1234</span>
        </div><!-- .phone_top -->
      </div><!-- .grid_3 -->

      <div class="grid_6">
        <div class="welcome">
          Welcome visitor you can <a href="/users/sign_in">login</a> or <a href="/users/sign_up">create an account</a>.
        </div><!-- .welcome -->
      </div><!-- .grid_6 -->

    </div><!-- #top -->

    <div class="clear"></div>

    <header id="branding">
      <div class="grid_3">
        <hgroup><center>
          <h1 id="site_logo" ><a href="/" title=""><img src="<%= asset_path('download.png')%>" alt="Online Store Logo" height="80" width="80"/></a></h1>
          <h2 id="site_description"><b>Online Store </b></h2></center>
        </hgroup>
      </div><!-- .grid_3 -->

      <div class="grid_3">
        <form class="search">
          <input type="text" name="search" class="entry_form" value="" placeholder="Search Products, Brands and more..."/>
	</form>
      </div><!-- .grid_3 -->

      <div class="grid_6">
	    <ul id="cart_nav">
          <li>
            <a class="cart_li" href="/shopping_cart.html">Cart <span>$0.00</span></a>
            <ul class="cart_cont">
              <li class="no_border"><p>Recently added item(s)</p></li>
              <li>
                <a href="/product_page.html" class="prev_cart"><div class="cart_vert"><img src="<%= asset_path('cart_img.png')%>" alt="" title="" /></div></a>
                <div class="cont_cart">
                  <h4>Caldrea Linen and Room Spray</h4>
                  <div class="price">1 x $399.00</div>
                </div>
                <a title="close" class="close" href="#"></a>
                <div class="clear"></div>
              </li>
              
              <li>
                <a href="/product_page.html" class="prev_cart"><div class="cart_vert"><img src="<%= asset_path('produkt_slid1.png')%>" alt="" title="" /></div></a>
                <div class="cont_cart">
                  <h4>Caldrea Linen and Room Spray</h4>
                  <div class="price">1 x $399.00</div>
                </div>
                <a title="close" class="close" href="#"></a>
                <div class="clear"></div>
              </li>
	      <li class="no_border">
		<a href="/shopping_cart.html" class="view_cart">View shopping cart</a>
		<a href="/checkout.html" class="checkout">Procced to Checkout</a>
	      </li>
            </ul>
          </li>
        </ul>

        <nav class="private">
          <ul>
            <li><a href="#">My Account</a></li>
		<li class="separator">|</li>
            <li><a href="#">My Wishlist</a></li>
		<li class="separator">|</li>
    <% if current_user.present? %>
            <li><a href="/users/sign_out">Log Out</a></li>
            <% else %>
             <li><a href="/users/sign_in">Log In</a></li>
              <li class="separator">|</li>
            <li><a href="/users/sign_up">Sign Up</a></li>
            <% end %>
          </ul>
        </nav><!-- .private -->
      </div><!-- .grid_6 -->
    </header><!-- #branding -->
  </div><!-- .container_12 -->
   <div class="clear"></div>

  <div id="block_nav_primary">
    <div class="container_12">
      <div class="grid_12">
        <nav class="primary">
          <a class="menu-select" href="#">Catalog</a>
          <ul>
            <li class=""><a href="/">Women</a></li>
            <li><a href="/catalog_grid.html">Men</a></li>
            <li><a href="/catalog_grid.html">Baby & kids</a></li>
            <li class="parent">
              <a href="#">Home & Furniture</a>
              <ul class="sub">
                <li><a href="/catalog_grid.html">For home</a></li>
                <li><a href="/catalog_grid.html">For Garden</a></li>
                <li><a href="/catalog_grid.html">For Car</a></li>
                <li><a href="/catalog_grid.html">Other spray</a></li>
              </ul>
            </li>
            <li><a href="/catalog_grid.html">Electronics</a></li>
            <li><a href="/catalog_grid.html">Sports & Books</a></li>
            <li class="parent">
              <a href="#">Kitchen Related Products</a>
              <ul class="sub">
                <li><a href="/">Home</a></li>
                <li><a href="/text_page.html">Typography and basic styles</a></li>
		<li><a href="/catalog_grid.html">Catalog (grid view)</a></li>
		<li><a href="/catalog_list.html">Catalog (list type view)</a></li>
		<li><a href="/product_page.html">Product view</a></li>
		<li><a href="/shopping_cart.html">Shoping cart</a></li>
		<li><a href="/checkout.html">Proceed to checkout</a></li>
		<li><a href="/compare.html">Products comparison</a></li>
		<li><a href="/login.html">Login</a></li>
		<li><a href="/contact_us.html">Contact us</a></li>
		<li><a href="/404.html">404</a></li>
		<li><a href="/blog.html">Blog posts</a></li>
		<li><a href="/blog_post.html">Blog post view</a></li>
              </ul>
            </li>
          </ul>
        </nav><!-- .primary -->
      </div><!-- .grid_12 -->
    </div><!-- .container_12 -->
  </div><!-- .block_nav_primary -->